.catalog {
  margin: 60px auto 130px;
}

.catalog__items-container {
  max-width: 1244px;
  min-height: 490px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);;
  gap: 22px;
}