.item {
  width: 360px;
  height: 360px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  order: 1;
}

.item__image {
  padding: 20px 0;
  margin-bottom: 15px;
  width: 360px;
  height: 200px;
  background-color: white;
  object-fit: contain;
}

.item__title {
  max-width: 270px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 5px;
  padding: 0;
}

.item__price {
  max-width: 224px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.item__add-button {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #ff6900;
  color: #FFF;
  border: 2px solid #c95400;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  margin: 18px auto 0;
  padding: 0;
  transition: .1s linear;
  cursor: pointer;
}

.item__add-button:hover {
  opacity: .8;
}

.item__add-button_added {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #3d3d3d;
  color: #FFF;
  border: 2px solid #3d3d3d;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  margin: 18px auto 0;
  padding: 0;
  transition: .1s linear;
  cursor: pointer;
}
