.header {
/*  styles for header */
}

.header__container {
  max-width: 1140px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  margin: 0 auto;
}


.header__logo {
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}