.header {
  background-color: #292929;
}

.header__container {
  max-width: 1140px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}


.header__logo {
  width: 181px;
  height: 36px;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

.header__logo {

}